.SearchResults {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-between;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    background-color: dimgrey;
    color: lightgray;
    cursor: default;
}

.SearchResults-selected {
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    width: 138px;
    padding: 2px;
}

.SearchResults-selected:hover {
    color: white;
}

.SearchResults-next-button,.SearchResults-previous-button {
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    width: 10px;
    padding: 4px;
}

.SearchResults-next-button:hover,.SearchResults-previous-button:hover {
    color: white;
}